#foto {
    position: relative; /* Para posicionar el pseudo-elemento correctamente */
    width: 160vh;
    height: 80vh;
    background-image: url('../../../../public/contacto.jpg');
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Pseudo-elemento que oscurece solo la imagen de fondo */
#foto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad aquí */
    border-radius: 10px;
    z-index: 1; /* Coloca la capa oscura detrás del texto */
}

/* Asegura que el texto esté por encima */
#foto p {
    position: relative;
    z-index: 2;
}
